<ion-header-bar>
<h1 align="center" class="title">adminhome</h1>
    <button class="button button-clear button-positive" ng-click="logout()">Logout</button>
</ion-header-bar>
<ion-content padding="true">
<button class="button button-block bar bar-header bar-dark" ng-click="register()">Register</button>
<button class="button button-block bar bar-header bar-dark" ng-click="access()">Access</button>
<button class="button button-block bar bar-header bar-dark" ng-click="scan()">Scan</button>
</ion-content>