<ion-view view-title="Sign up" name="register-view">
    <ion-header-bar>
<h1 align="center" class="title">Register</h1>
         <button class="button button-clear button-positive" ng-click="logout()">Logout</button>
</ion-header-bar>
  <ion-content class="padding">
        <br> <br>
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="FirstName" ng-model="firstname" required="true">
          </label>
           <label class="item item-input">
              <input type="text" placeholder="LastName" ng-model="lastname" required="true">
          </label>
           <label class="item item-input">
              <input type="text" placeholder="Address" ng-model="address" required="true">
          </label>
           <label class="item item-input">
              <input type="text" placeholder="Age" ng-model="age" required="true">
          </label>
          <label class="item item-input">
              <input type="email" placeholder="email id" ng-model="email" required ="true" validate-email name="email">
          </label>
           <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="username" required="true">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="password" required="true">
          </label>
         
      </div>
      <button class="button button-block button-positive" ng-click="register(firstname,lastname,address,age,email,username,password)">Register</button>
  </ion-content>
</ion-view>