<ion-view view-title="Update">
     <ion-header-bar>
            <h1 align="center" class="title">Student ID</h1>
            <div class="buttons" align="right">
                <button class="button button-clear button-positive" ng-click="logout()">Logout</button>
            </div>
        </ion-header-bar>
  <ion-content>
    
      
           <div class="list card">
            
                 <div align="left" class="row" responsive-sm>
                     <div class="col col-offset-10">
            <h4 style="color:#2d2d69" ng-bind-html="firstname"></h4> 
          
            <h4 style="color:#2d2d69" ng-bind-html="lastname"></h4>
         
            <h4 style="color:#2d2d69" ng-bind-html="age"></h4>
             
            <h4 style="color:#2d2d69" ng-bind-html="address"></h4>
          
         <h4 style="color:#2d2d69" ng-bind-html="email"></h4>
         
         </div>
          
        <div class="col">
           
                <img src="" id="qrimg" ng-bind-html="storeinQR()"></div>
             
         </div>
      </div>
          
  </ion-content>
</ion-view>