
<!DOCTYPE html>
<html lang="" data-ng-app="GoogleDirection">
<head>
  <meta t="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular Demo</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js" type="application/javascript"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
  <link rel="stylesheet" href="css/main.css">  
    
    <style>
     #map-canvas {
    width: 650px;
    height: 450px;
}
    </style>
</head>

<body style="background-color:lightyellow">


<div class="wrapp" ng-controller="googlemapoutput">
<div data-ng-model="username"></div>
<p> Welcome {{username}}</p>
         <div class="row">
                <input type="text"  ng-model="startlocation" id="startlocation"/>
                <input type="text"  ng-model="endlocation" id="endlocation" /> 
                <button id="btn" ng-click="calcRoute()">
                    Direction and Weather
                </button>
                 <br/></br>
            </div>
            <div id="map-canvas" style="height: 400px;"></div>

  <button id="btn" ng-click="getWeather()"> Show Weather </button><br/><br/>
  <div class="weatherModule">
    <div >
      <div class="row">
        <div data-ng-model="temp_start"></div>
        <div data-ng-model="temp_end"></div>
            <div data-ng-model="weather_start"></div>
        <div data-ng-model="weather_end"></div>
      </div>
      <p> Weather at {{startlocation}} is {{temp_start}} &deg; F and {{weather_start}}</p><br/>
    <p> Weather at {{endlocation}} is {{temp_end}} &deg; F and {{weather_end}}</p><br/>
     <p class="currentConditions" ng-bind-html-unsafe="currentweather.html"></p>
      <div class="currentIcon" ng-bind-html-unsafe="currentIcon.html"></div>
  </div>
</div>

    </body>

</html>


<script>
angular.module('GoogleDirection', [])
.controller('googlemapoutput', function ($scope, $http) {

    var map;
    var mapOptions;
    var directionsDisplay = new google.maps.DirectionsRenderer({
        draggable: true
    });
    var directionsService = new google.maps.DirectionsService();
        $scope.username = localStorage.getItem('UserName');
    $scope.initialize = function () {
          var pos = new google.maps.LatLng(0, 0); 
          var mapOptions = {
                zoom: 3,
                center: pos
            };

            map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
    
     };
    $scope.calcRoute = function () {
       var end = document.getElementById('endlocation').value;
            var start = document.getElementById('startlocation').value;

            var request = {
                origin: start,
                destination: end,
                travelMode: google.maps.TravelMode.DRIVING
            };

            directionsService.route(request, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setMap(map);
                    directionsDisplay.setDirections(response);
                    console.log(status);
                  getWeather();
                }
           
        });

  $http.get(   'http://api.wunderground.com/api/36b799dc821d5836/conditions/q/MO/'+ document.getElementById('startlocation').value+'.json').success(function(data) {
      console.log(data);
          temp = data.current_observation.temp_f;
          $scope.temp_start = temp;
                icon = data.current_observation.icon_url;
                weather = data.current_observation.weather;
                $scope.weather_start = weather;
             console.log(temp);
                $scope.currentweather = {html:"Currently " +temp +" &deg; F and " + weather + ""}
                $scope.currentIcon=  {html:"<img src='" + icon  +"'/>"}
                     
})

  $http.get(   'http://api.wunderground.com/api/36b799dc821d5836/conditions/q/MO/'+ document.getElementById('endlocation').value+'.json').success(function(data) {
      console.log(data);
          temp = data.current_observation.temp_f;
          $scope.temp_end = temp;
                icon = data.current_observation.icon_url;
                weather = data.current_observation.weather;
                $scope.weather_end = weather;
             console.log(temp);
                $scope.currentweather = {html:"Currently " +temp +" &deg; F and " + weather + ""}
                $scope.currentIcon=  {html:"<img src='" + icon  +"'/>"}
                     
})
    };

    google.maps.event.addDomListener(window, 'load', $scope.initialize);

});

                

</script>