@CHARSET "ISO-8859-1";

body {
    background-image: url("grocery.jpg");
}

h2 {
    color: red;
    font-weight: bold;
    font-size: 30px;
}
tr{
	color: red;
	background-color: #FFFFC0;
	font-weight: bold;
	font-size: 20px;
}

.button {
    color: red;
    background-color: #FFFFC0;
    font-weight: bold;
    font-size: 20px;
}